<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>PhoMa - Phone/Photo Manager</title>
		<link href="/static/css/bootstrap.min.css" rel="stylesheet">
	</head>
	<body>
		<div class="container">
			<h1>PhoMa</h1>
			<div class="wrapper">
				<div class="firstpage">
					Loading...
				</div>
			</div>
		</div>

		<script type="text/html" id="photolist">
			<% _.each(_.groupBy(photos, (element, index) => {
				return Math.floor(index/4);
			}), (chunk) => { %>
				<div class="row">
					<% _.each(chunk, (photo, key, list) => { %>
						<div class="col-xs-6 col-md-3">
							<a href="<%= photo.href %>" class="thumbnail">
								<img src="<%= photo.preview %>" alt="<%= photo.name %>">
							</a>
						</div>
					<% }); %>
				</div>
			<% }); %>
			<a href="#" class="nextpage" data-page="<%= page+1 %>">More</a>
		</script>

		<script src="/static/underscore.js"></script>
		<script src="/static/jquery-3.1.1.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>

		<script>
var tpl = _.template($('#photolist').html());
var loadpage = (n, $target) => {
	$target = $target || $('.firstpage');

	fetch('/page/'+n).then((resp) => {
		var rendered = tpl({
			page: n,
			photos: [
				{
					name: 'IMG_20160202_123456.JPG',
					href: '/fetch/IMG_20160202_123456.JPG',
					preview: '/preview/IMG_20160202_123456.JPG',
				},
			],
		});
		$target.replaceWith(rendered);
	}).catch((err) =>
};
$(() => {
	loadpage(0);

	$('body').on('click', '.nextpage', (e) => {
		e.preventDefault();
		loadpage($(this).data('page'));
	});
});
		</script>
	</body>
</html>
